<div class="container">
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_header' %>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <iframe width="430" height="285" src="https://www.youtube.com/embed/useuVN-_fzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-5">
      <p>Get A Free Quote</p>
      <p>Over 100+ Americans Trust Us</p>
        <%= render 'website/partials/talk_with_us' %>
      </div>
  </div>
  <div class='container'>
    <%= render 'website/partials/primary_testimonials' %>
  </div>
  <div class='container'>
    <%= render 'website/partials/before_and_after' %>
  </div>
  <div class="row">
    <div class="col-5">
      <img data-src="holder.js/450x334" alt="">
    </div>
    <div class="col-5">
      <p>Get A Free Quote</p>
      <p>Over 100+ Americans Trust Us</p>
        <%= render 'website/partials/talk_with_us' %>
      </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_footer' %>
    </div>
  </div>
</div>
