<div class="container-fluid">
  <div class='row'>
    <div class='col-12 text-center announcements'>
      <p>
        Give us a call, we want to see you smile
        <!-- <img class="mb&#45;2" src="/assets/usa.svg" alt=""> -->
        <a class="text-muted" href="tel:+16194673765">+1 (619) 452-2823</a>
        <!-- <img class="mb&#45;2" src="/assets/mexico.svg" alt=""> -->
        <a class="text-muted" href="tel:+526642071561">+52 (664) 685-3862</a>
      </p>
    </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_header' %>
    </div>
  </div>

  <div class="row billboard">
    <div class='container'>
      <div class='row'>
        <div class="col-6">
          <!-- <iframe -->
          <!--   class='explainer&#45;video' -->
          <!--   src="https://www.youtube.com/embed/UQZGz7HSD7M" -->
          <!--   frameborder="0" -->
          <!--   allow="autoplay; encrypted&#45;media" -->
          <!--   allowfullscreen="allowfullscreen" -->
          <!-- ></iframe> -->
        </div>
        <div class="col-6 talk-with-us">
          <%= render 'website/partials/talk_with_us' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'website/partials/featured_in' %>

  <%= render 'website/partials/primary_testimonials', testimonials: [] %>
</div>

<div class="container-fluid">
  <div class='row'>
    <div class='container'>
      <div class='row'>
        <%= render 'website/partials/schedule_now' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'website/partials/before_and_after', before_and_after_sets: @before_and_after_sets %>


  <div class="row">
    <div class="col-8">
      <%= render 'website/partials/talk_with_us' %>
    </div>
    <div class="col-4">
      <%= render 'website/partials/working_hours' %>
    </div>
  </div>

  <%= render 'website/partials/we_are_waiting_for_you' %>

  <%= render 'website/partials/primary_footer' %>
</div>
