<div class="container-fluid">
  <%= render 'website/partials/announcements', phones: @phones %>
</div>
<div class="row menu">
  <div class='container'>
    <%= render 'website/partials/primary_header', current_organization: @current_organization, treatments: @treatments %>
  </div>
</div>

<div class="container prices">
  <div class="row">
    <div class="col-12 title">
      <h4>Price List</h4>
      <h5>You Can Save Up To 70% With Our Prices </h5>
    </div>
    <div class="col-8 item-list">
        <% @categories.each do |category| %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="6">
                  <h5><%= category.name %> - <%= category.short_description %></h5></th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Info</th>
                <th scope="col">USA</th>
                <th scope="col">TSD</th>
                <th scope="col">You Save</th>
                <th scope="col">Add</th>
              </tr>
            </thead>
            <tbody>
              <% category.items.each do |item| %>
                <tr>
                  <td><%= item.name %></td>
                  <td>
                    <img src="./assets/info.png" alt="" />
                    <%# TODO add information popup %>
                  </td>
                  <td>$<%= item.external_price_in_cents / 100 %></td>
                  <td>$<%= item.internal_price_in_cents / 100 %></td>
                  <td><%= (((item.external_price_in_cents.to_f - item.internal_price_in_cents.to_f) / item.external_price_in_cents.to_f)*100).to_i %>%</td>
                  <td>
                    <img src="./assets/shop.png" alt="" />
                    <%# TODO add add to cart behaviour %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="col-4 shopping-cart">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h5>Shopping Cart</h5>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total</td>
              <td>$360 USD</td>
            </tr>
          </tbody>
        </table>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Schedule Appointment</button>
    </div>
  </div>
</div>

<%= render 'website/partials/primary_footer', phones: @phones %>
