<div class="container-fluid">
  <%= render 'website/partials/announcements', phones: @phones %>
</div>
<div class="container-fluid billboard-wrapper">
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_header', current_organization: @current_organization, treatments: @treatments %>
    </div>
  </div>

  <div class="row billboard d-flex">
    <div class='container align-self-center'>
      <div class='row'>
        <div class="col-6 video">
          <iframe src="https://www.youtube.com/embed/otdy19AmdQI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="col-6 talk-with-us-wrapper">
          <%= render 'website/partials/talk_with_us' %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="attention-helper">

<div class="container success stories">
  <div class="row">
    <div class="col-12">
      <h4>100+ Success Stories</h4>
      <h5>We have clients from the United States, Canada and Europe</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <img data-src="holder.js/150x150" alt="">
        </div>
        <div class="col-4">
          <p>Jamie O'Donnell</p>
          <p>Cape Cañaveral, FL, USA</p>
          <p>03 Sep 2016</p>
          <p>*****</p>
          <p>Very professional, experts in each area were consulted as needed. Very modern equipment and treatment.</p>
        </div>
        <div class="col-2">
          <img data-src="holder.js/150x150" alt="">
        </div>
        <div class="col-4">
          <p>Jamie O'Donnell</p>
          <p>Cape Cañaveral, FL, USA</p>
          <p>03 Sep 2016</p>
          <p>*****</p>
          <p>Very professional, experts in each area were consulted as needed. Very modern equipment and treatment.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <img data-src="holder.js/150x150" alt="">
        </div>
        <div class="col-4">
          <p>Jamie O'Donnell</p>
          <p>Cape Cañaveral, FL, USA</p>
          <p>03 Sep 2016</p>
          <p>*****</p>
          <p>Very professional, experts in each area were consulted as needed. Very modern equipment and treatment.</p>
        </div>
        <div class="col-2">
          <img data-src="holder.js/150x150" alt="">
        </div>
        <div class="col-4">
          <p>Jamie O'Donnell</p>
          <p>Cape Cañaveral, FL, USA</p>
          <p>03 Sep 2016</p>
          <p>*****</p>
          <p>Very professional, experts in each area were consulted as needed. Very modern equipment and treatment.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="attention-helper">

<!-- <div class="container treatment">
  <div class="row">
    <div class="col-12">
      <h4><%# @treatment.name %></h4>
      <%# raw(@treatment.long_description) %>
    </div>
  </div>
</div> -->

<div class="container treatment">
  <div class="row">
    <div class="col-12">
      <h4>Crowns</h4>
      <h5>What Is A Dental Crown?</h5>
      <p>
        A crown is a tooth-shaped cover or cap placed over a tooth that is badly damaged by decayed,
        as a result, a filling can’t replace enough of the tooth or make the tooth strong enough, crowns can be used to improve appearance as well. The crown restores the tooth to its normal shape and function.
      </p>

      <p>
        Crowns are made to blend the color of your teeth and are made from different materials:
      </p>

      <ul>
        <li>Metal</li>
        <li>Zirconia</li>
        <li>Porcelain (fuse to metal or zirconia)</li>
        <li>Ceramic.</li>
      </ul>
      <p>
        To decide on the material for your crown you may consider the location of your tooth,
        the position of the gum, the function of the tooth,  the patient budget and preference.
      </p>

      <h5>How Does Dental Crowns Work?</h5>
      <ol>
        <li>
          Your tooth has to be prepared by removing its outer portion and any decay part so the crown will fit.
        </li>
        <li>
          An impression is made to get an exact model for the crown.
        </li>
        <li>
          You will get a temporary crown while you get your permanent crown ready, this takes less than two weeks.
        </li>
        <li>
          When your permanent crown is ready, the dentist places it in your mouth and makes the necessary adjustments.
        </li>
        <li>
          When you and your dentist are satisfied with how it looks and feels, the crown is cemented in place.
        </li>
      </ol>

      <h5>How Long Does A Crown Last?</h5>
      <p>
        Crowns usually last at least 7 years. In many cases, they last much longer, up to 40 years.
        In many cases the crown is fine, but the tooth underneath it has developed a cavity.
        Therefore, maintaining good oral hygiene will help your crown last longer.
      </p>
    </div>
  </div>
</div>

<hr class="attention-helper">

<div class="container cases">
  <div class="row">
    <div class="col-sm">
      <h4>Our Cases</h4>
      <h5>Your Smile Is Our Priority</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img data-src="holder.js/1200x600" alt="">
      <p>Ellen W. visits us from Arizona to get a <a href="#">Teeth Whitening</a> on August 2018, this is the  before and after. <a href="#">More Info</a>.</p>
    </div>
  </div>
</div>

<div class="container-fluid schedule-now-wrapper">
  <div class='row'>
    <div class='container'>
      <div class='row'>
        <%= render 'website/partials/schedule_now' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'website/partials/we_are_waiting_for_you' %>
</div>

<%= render 'website/partials/primary_footer', phones: @phones %>
