<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <title>Tijuana Smile Dentistry</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/pricing.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a class="my-0 mr-md-auto" href="/">
          <img src="/assets/logo-small.png" alt="" width="160" height="33">
        </a>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Home</a>
          <a class="p-2 text-dark" href="/pictures">Pictures</a>
          <a class="p-2 text-dark" href="/treatments">Treatments</a>
          <a class="p-2 text-dark" href="/price-list">Price List</a>
          <a class="p-2 text-dark" href="/virtual-tour">Virtual Tour</a>
          <a class="p-2 text-dark" href="/about-us">About Us</a>
          <a class="p-2 text-dark" href="/the-team">The Team</a>
          <a class="p-2 text-dark" href="/posts">Blog</a>
        </nav>
        <img class="mb-2" src="/assets/usa.svg" alt="">
        <a class="text-muted" href="tel:+16194673765">+1 (619) 452-2823</a>
        <img class="mb-2" src="/assets/mexico.svg" alt="">
        <a class="text-muted" href="tel:+526642071561">+52 (664) 685-3862</a>
        <a class="btn btn-outline-primary" href="/contact-us">Contact Us</a>
        <a class="btn btn-outline-primary" href="/schedule-appointment-primary">Book Appointment</a>
      </div>
    </div>

    <div class='container <%= controller_name.gsub('_', '-') %>'>

      <div class='<%= action_name.gsub('_', '-') %>'>
        <%= yield %>
      </div>

      <footer class="row border-top">
        <!-- TODO: revisar -->
        <div class="col-12 col-md">
          <img class="mb-2" src="/assets/logo-small.png" alt="" width="175" height="36">
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>TSD</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="/">Home</a>
            </li>
            <li>
              <a class="text-muted" href="/pictures">Pictures</a>
            </li>
            <li>
              <a class="text-muted" href="/treatments">Treatments</a>
            </li>
            <li>
              <a class="text-muted" href="/about-us">About Us</a>
            </li>
            <li>
              <a class="text-muted" href="/price-list">Price List</a>
            </li>
            <li>
              <a class="text-muted" href="/virtual-tour">Virtual Tour</a>
            </li>
            <li>
              <a class="text-muted" href="/the-team">The Team</a>
            </li>
            <li>
              <a class="text-muted" href="/blog">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contact Us</h5>
          <ul class="list-unstyled text-small">
            <li>619.467.3765 (From USA)</li>
            <li>664.207.1561 (From MEX)</li>
            <li>
              <a class="" href="mailto:info@tijuanasmiledentistry.com">info@tijuanasmiledentistry.com</a>
            </li>
            <li>Juventud Oriente #8800 I-2204 Zona Rio, Tijuana, B.C. México, CP 22000</li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><img class="mb-2" src="/assets/facebook.png" alt="" width="20" height="20">
              <a class="text-muted" href="https://facebook.com/tijuanasmiledentistry#">Facebook</a>
            </li>
            <li><img class="mb-2" src="/assets/instagram.png" alt="" width="20" height="20">
              <a class="text-muted" href="https://instagram.com/tijuanasmiledentistry#">Instagram</a>
            </li>
            <li><img class="mb-2" src="/assets/twitter.png" alt="" width="20" height="20">
              <a class="text-muted" href="https://twitter.com/tijuanasmiledentistry#">Twitter</a>
            </li>
            <li><img class="mb-2" src="/assets/yelp.png" alt="" width="20" height="20">
              <a class="text-muted" href="https://yelp.com#">Yelp</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="./assets/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
