<nav class="navbar navbar-expand-md primary-header">
  <a class="navbar-brand brand" href="/">
    <% if current_organization.primary_image %>
      <img class='logo' src="<%= current_organization.primary_image.payload.url %>" alt="<%= current_organization.name %> Logo">
    <% else %>
      <p class='name' ><%= current_organization.name %></p>
    <% end %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/treatments" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Treatments</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <% treatments.each do |treatment| %>
            <a class="dropdown-item" href="/treatments/<%= treatment.key.downcase.gsub('_', '-') %>"><%= treatment.name %></a>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/price-list">Price List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/virtual-tour">Virtual Tour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/the-team">The Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about-us">About Us</a>
      </li>
      <!-- <li class="nav&#45;item"> -->
      <!--   <a class="nav&#45;link" href="/posts">Blog</a> -->
      <!-- </li> -->
      <li class="nav-item last-item">
        <a class="btn btn-primary" href="/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
