<div class="container-fluid schedule-now-wrapper">
  <div class='row'>
    <div class='container'>
      <div class='row schedule-now'>
        <div class='col-12'>
          <h4 class='title text-center'>Become Our Patient And Save Up To 70%</h4>
          <h5 class='suggester text-center'>Get High Quality Dental Care At Affordable Prices</h5>
        </div>
        <div class='col-12'>
          <%= form_tag(controller: :leads, action: :post_context, method: :post) do %>
            <div class='form-row'>
              <div class='form-group col'>
                <%= text_field :lead, :person_name, { placeholder: 'Your Name', required: true, class: 'form-control' } %>
              </div>
              <div class='form-group col'>
                <%= email_field :lead, :email_address, { placeholder: 'Your Email', required: true, class: 'form-control' } %>
              </div>
              <%= hidden_field :lead, :phone_country_code, value: 'US' %>
              <div class='form-group col'>
                <%= telephone_field :lead, :phone_number, { placeholder: 'Your Phone Number', required: true, class: 'form-control' } %>
              </div>
              <div class='form-group col'>
                <%= date_field :lead, :preferred_date, { min: 1.day.ago.strftime('%Y-%m-%d'), required: true, class: 'form-control' } %>
              </div>
              <div class='form-group col'>
                <button type='submit' class='btn btn-primary button'>Book Now</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
