<div class='row talk-with-us'>
  <div class='col-12'>
    <hr class='ml-0 attention-helper'>
    <h4 class='title'>We Are A Highly Trusted Tijuana Dentist Clinic</h4>
    <h5 class='suggester'>
      Over 100+ Americans Trust Us
    </h5>
    <%= form_tag(controller: :leads, action: :post_context, method: :post) do %>
      <div class='form-group'>
        <%= text_field :lead, :person_name, { placeholder: 'Your Name', required: true, class: 'form-control' } %>
      </div>
      <div class='form-group'>
        <%= email_field :lead, :email_address, { placeholder: 'Your Email', required: true, class: 'form-control' } %>
      </div>
      <%= hidden_field :lead, :phone_country_code, value: 'US' %>
      <div class='form-group'>
        <%= telephone_field :lead, :phone_number, { placeholder: 'Your Phone Number', required: true, class: 'form-control' } %>
      </div>
      <div class='form-group'>
        <%= date_field :lead, :preferred_date, { min: 1.day.ago.strftime('%Y-%m-%d'), required: true, class: 'form-control' } %>
      </div>
      <div class='form-group'>
        <button class='btn btn-primary btn-lg btn-block orange-btn' type='submit'>Book Now</button>
      </div>
    <% end %>
  </div>
</div>
