<div class='row talk-with-us'>
  <div class='col-12'>
    <hr class='ml-0 attention-helper'>
    <h4 class='title'>We Are A Highly Trusted Tijuana Dental Clinic</h4>
    <h5 class='suggester'>
      Over 350+ Americans Trust Us
    </h5>
    <%= form_with(model: [:website, Lead.new], local: true) do |form| %>
      <div class='form-group'>
        <%= form.text_field :person_name, { placeholder: 'Your Name', required: true, class: 'form-control' } %>
      </div>
      <div class='form-group'>
        <%= form.email_field :email_address, { placeholder: 'Your Email', required: true, class: 'form-control' } %>
      </div>
      <%= form.hidden_field :phone_country_code, value: 'US' %>
      <div class='form-group'>
        <%= form.telephone_field :phone_number, { placeholder: 'Your Phone Number', required: true, class: 'form-control' } %>
      </div>
      <div class='form-group'>
        <%= form.date_field :preferred_date, { min: (1.day.ago - 8.hours).strftime('%Y-%m-%d'), required: true, class: 'form-control' } %>
      </div>
      <div class='form-group'>
        <%= form.submit 'Book Now', class: 'btn btn-primary btn-lg btn-block orange-btn' %>
      </div>
    <% end %>
  </div>
</div>
