<div class="container-fluid billboard-wrapper">
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/secondary_header', current_organization: @current_organization %>
    </div>
  </div>
</div>

<div class="container">
  <div class="form-row">
    <div class="col-8">
      <h2>
        <p>Schedule Appointment</p>
      </h2>
      <%= form_tag(controller: :leads, action: :post_content, method: :post, id: @lead.uuid) do %>
        <div class='form-group'>
          <%= label_tag 'Your Name:' %>
          <%= text_field_tag :person_name, nil, { placeholder: 'Your Name', required: true, class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= label_tag 'Your Email Address:' %>
          <%= email_field_tag :email_address, nil, { placeholder: 'Your Email', required: true, class: 'form-control' } %>
        </div>
        <%= hidden_field_tag :phone_country_code, 'US' %>
        <div class='form-group'>
          <%= label_tag 'Your Phone Number:' %>
          <%= telephone_field_tag :phone_number, nil, { placeholder: 'Your Phone Number', required: true, class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= label_tag 'Your Preferred Date:' %>
          <%= date_field_tag :preferred_date, DateTime.now.strftime('%Y-%m-%d'), { min: 1.day.ago.strftime('%Y-%m-%d'), placeholder: 'Your Preferred Date', required: true, class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= label_tag 'Your preferred time range:' %>
          <%= select_tag :preferred_time_range, options_for_select(Lead.preferred_time_ranges.keys.to_a.map{|k| [k.humanize, k]}), { include_blank: 'Please select one', required: true, class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= label_tag 'Your preferred conversation channel:' %>
          <%= select_tag :preferred_conversation_channel, options_for_select(Lead.preferred_conversation_channels.keys.to_a.map{|k| [k.humanize, k]}), { include_blank: 'Please select one', required: true, class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= label_tag 'Interested in: (Select 1 or more)' %>
          <%= select_tag :item_ids, options_for_select(@items.map{|i| [i.name, i.id] }), { required: true, multiple: true, size: @items.count, class: 'form-control' } %>
        </div>
        <hr class="mb-4">
        <%= button_tag 'Next', { type: :submit, class: 'btn btn-primary btn-lg btn-block' } %>
      <% end %>
    </div>
    <div class="col-4">
      <%= render 'website/partials/working_hours', phones: @phones, current_organization: @current_organization %>
    </div>
  </div>
</div>
