<p>Hello,</p>

<p>A new lead has been created in Baja Smile Dentistry.</p>

<p>Name:</p>
<p><%= @lead.person_name %></p>

<p>Email:</p>
<p><%= @lead.email_address %></p>

<p>Telephone Number:</p>
<p><%= @lead.phone_number %></p>

<p>Preferred Conversation Channel:</p>
<p><%= @lead.preferred_conversation_channel %></p>

<p>Custom Message:</p>
<p><%= @lead.message %></p>

<p>Preferred Appointment Date:</p>
<p><%= @lead.preferred_date %></p>

<p>Preferred Appointment Time Of Day:</p>
<p><%= @lead.preferred_time_range %></p>
